<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieMania</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/movies.js" defer></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div>MovieMania</div>
        <div>
          <a href="/">Home</a>
          <a href="/movies">Latest Movies</a>
          <a href="/TVShows">Latest TV Shows</a>
          <a href="/About">About</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="center-container">
        <button id="fetchMovies">Load Movies</button>
      </div>
      <div class="movie-container" id="movie-container">
        <!-- Movies will be rendered here -->
      </div>
    </main>
    <footer class="footer">
      <p>Create by Jasmeet Singh and Tarun Chawla</p>
    </footer>
  </body>
</html>
